NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
GITHUB_APP_ID=5030363
GITHUB_APP_INSTALLATION_ID=163707511
GITHUB_APP_PRIVATE_KEY=
GITHUB_EXPORT_REPOSITORY=Sevastian-Bahynskyi/ordly-exercises
GITHUB_EXPORT_BRANCH=main
OPENROUTER_API_KEY=
